body, input, button {
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #222;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.container{
    width: 100vw;
}
.navbar-top{
    display:flex;
    justify-content: flex-end;
    height: 30px;
    margin: 20px 0px;
}

.navbar-top > span {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

span > a {
    color:#222;
}

.google-apps-button > svg{
    width: 25px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.google-logo {
    width: 272px;
}

.search{
    display: flex;
    flex-shrink: 2;
    margin: 30px 0px;
    border: 1px solid #C0C0C0;
    border-radius: 20px;
    width: 544px;
    height: 40px;

}

#search{
    flex-shrink: 1;
    width: 460px;
    height: 40px;
    /* border-radius: 20px; */
    border: none;
    outline: none;
}

.search-icon > svg{
    width: 20px;
    margin: 10px;
}

.mic-icon{
    width: 20px;
    margin: 10px;
    margin-right: 5px;
}

/* 
input#search {
    background-image: url('http://www.clker.com/cliparts/z/1/T/u/9/2/search-icon-hi.png');
    background-image: url('./iconfinder_icon-ios7-search-strong_211817.png');
    background-size:contain;
    background-repeat: no-repeat;
    text-indent: 20px;
    width: 544px;
    outline: none;
    border: 1px solid #C0C0C0;
    border-radius: 20px;
    height: 40px;
} */

.account{
    font-size: 16px;
    color: white;
    background-color: #04549c;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
}

.account > p {
        padding: 6px 9px;
    /* margin: 5px 10px; */
}

.btn{
    background-color: #f8f9fa;
    outline: none;
    border: none;
    padding: 10px;
}

.btn > a{
    color: #222;
}

.location{
    margin-left: 2rem;
}

.links{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.links > ul {
    display: flex;
    padding: 0px;
    margin-left: 2rem;
}

.reverse{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    min-width: 70vw;
}
.reverse > ul {
    display: flex;
}
.reverse > ul > li {
    margin-right: 20px;
    color: #0000008A;
}

.reverse > ul > li > a {
    color: #0000008A;
}

.links > ul > li {
    margin-right: 20px;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

.navbar-bottom{
    position:fixed;
    bottom: 0;
    width: 100%;
    padding: 15px 0px;
    background: #f2f2f2;
    color: #0000008A;
}

.links > ul > li > a{
    color: #0000008A;
}

hr{
    border-bottom: none;
    width: 100%;
    margin-left: 0px;
}

.carbon{
    display: flex;
    justify-self: center;
    align-self: center;
    width: 300px;
}

.carbon-img{
    width: 12px;
}

.end{
    display: flex;
    justify-content: flex-end;
    max-width: 30vw;
    margin: auto;
}

@media only screen and (max-width: 1200px){
    . {
        justify-content: space-evenly;
    }
}

